*
{
    font-family: Arial, Helvetica, sans-serif;
}

h1
{
    font-size: 40px;
    background-color: black;
    color: white;
    margin: 0;
    margin-top: 0px;
    height: 60px;
    width: 100%;
    line-height: 60px;
}

.parent
{
    display: flex;
    background-color: green;
}

.heading
{
    width: 50%;
    text-align: left;
    float: left;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
    font-size: 100px;
    color: white;
}

body
{
    text-align: center;
    margin: 0 auto;
    background-color: #0b6623;
    color: white;
}

.login-box {
    position: absolute;
    top: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0,.9);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    right:0;
    left:75%;
    border-radius: 10px;
  }
  
  .login-box p:first-child {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 35px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  
  .login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
  }

  .login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 19px;
    font-weight: bold;
    background-color: rgb(9, 114, 39);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 20px;
    letter-spacing: 3px;
    border-radius: 5px;
  }

  .login-box form button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-weight: bold;
    background-color: rgb(9, 114, 39);
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 3px;
    border-radius: 5px;
    color: white;
    margin: 0 auto;
  }

  .login-box form button:hover{
    color: black;
    cursor: pointer;
  }
  
  .login-box a:hover {
    color: #272727;
    border-radius: 5px;
    cursor: pointer;
  }

  #facebook{
    background-color: #3b5998;
    margin-top: 5px
  }

  #google{
    background-color: #db4839;
    
  }

  .login-box p:last-child {
    color: #aaa;
    font-size: 15px;
    border-color:10px white;
  }
  
  .login-box a.a2 {
    color: #fff;
    text-decoration: none;
  }
  
  .login-box a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
  }

a{
    all:unset;
}